.navbar {
  background-color: #4b4a475b; /* Dark green with transparency */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  padding: 2%;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 6%;
  position: fixed; /* Ensure navbar is always on top */
  z-index: 2; /* Higher z-index to stay above the background image */
  backdrop-filter: blur(4px);
  margin-left: 0;
}

.menu {
  display: flex;
  gap: 2em;
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin-right: 7em;
}
.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo img{
  height:5em;
  width: 7em;
  margin-left: 2em;
}


.menu-item a {
  text-decoration: none; /* Remove underline from links */
    color: #f6f8f7;
    padding: 18px;
    position: relative; /* Position relative to contain pseudo-element */
    font-size: 18px;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    text-emphasis: bold;
}

.menu-item a:hover {
  color: #07f379;
  animation: fadeIndown 2s;
}

.menu-item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.15em; /* Height of the underline */
  width: 0; /* Initially, set width to 0 */
  background-color: #f5f7f6; /* Color of the underline */
  transition: width 1s ease; /* Transition effect for the width */
}

.menu-item a:hover::after {
  width: 100%; /* On hover, expand the width to 100% */
}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9f0;
  min-width: 10em; /* Increase the minimum width for more space */
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
  
  left:-2em;
  height:18em;
  bottom: -18.5em;
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 1em; /* Add padding to create space around each option */
  text-decoration: none;
  color: #333; /* Adjust text color for better readability */
  border-bottom: 0.1em solid rgb(0, 6, 3); /* Add a slim line between each option */
}
.dropdown-content a:last-child {
  border-bottom: none; /* Remove the line after the last option */
}
.dropdown-content a:hover {
  background-color: #01040b36; /* Change background color on hover for better visual feedback */

}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover::after {
  width: 0; /* Remove the underline effect on hover for dropdown options */
}
.menu-item.dropdown::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.05em; /* Adjust the distance from the right side */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* Size and color of the arrow */
  border-right: 8px solid transparent; /* Size and color of the arrow */
  border-top: 8px solid #0dee51; /* Size and color of the arrow */
}